body {
    margin: 0;
    padding: 0;
    min-height: 90vh;
    max-width: 100%;

}

div {
    color: white;
}

p {
    color: white;
}

.content-editor-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
}

.content-editor-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    overflow: hidden;
}

.content-editor-cell-header {
    border-width: 2px;
    border-color: white;
}

.content-editor-tl {
    border-top-left-radius: 5px
}

.content-editor-tr {
    border-top-right-radius: 5px;
}

.content-editor-bl {
    border-bottom-left-radius: 5px;
}

.content-editor-br {
    border-bottom-right-radius: 5px;
}

.content-editor-label {
    display: flex;
    flex-direction: row;
}

.csv-textarea {
    max-width: 1000000px;
    background-color: #212121;
    border: none;
    width: 100%;
    resize: vertical;
    color: white;
    border-radius: 5px;
}

.active-cell-disable {
    border-color: #212121;
    border-width: 2px;
    outline: none;
}

.mono {
    font-family: monospace;
}